#!/bin/bash
apt update
apt install -y unzip awscli
ufw allow 33283
ufw allow 19132
ufw allow 19133

mkdir -p ${path_minecraft_server}
cat <<EOF1> ${path_minecraft_server}/env
LD_LIBRARY_PATH=${path_minecraft_server}
EOF1

mkdir -p /etc/systemd/system
cat <<EOF2> /etc/systemd/system/minecraft.service
${minecraft_service}
EOF2

git clone ${url_repo_minecraft_user_monitor} ${path_minecraft_user_monitor}

cat <<EOF3> /etc/systemd/system/minecraft-user-monitor.service
${minecraft_user_monitor_service}
EOF3
